
.fst-row-span{
  
    color:rgb(174, 175, 177);
}
.per-mont-text-clr{
    color: rgb(174, 175, 177);
}
h2{
    color:#33adac;
}

p{
    
    color: rgb(191 224 49);;
}
.scnd{
background-color: #33adac;
color: white;

}
.btn{
    color: #fff;
}
.third{

    color: white;
    background-color:#4abebd;
    }